.item-select{
  padding: 4vh 11vw;
  font-family: 'Ubuntu Mono', monospace;
  font-style: oblique;

  &__category{

    &__title{
      font-size: 22px;
      margin-bottom: 8px;
      margin-left: 8px;
    }

    &__image{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 58px;

      img{
        width: 12vw;
        height: 12vw;
        object-fit: cover;
        border-radius: 6px;
        margin: 3px 3px;
        border: solid 2px #eeeeee;
        box-shadow: 2px 2px 4px #eeeeee;
      }
    }

    &__not-image{
      margin-bottom: 58px;
    }
  }
}