.coordinates-new{
  position: fixed;
  text-align: center;
  height: 90px;
  width: 90px;
  bottom: 120px;
  right: 20px;
  border-radius: 100px;
  background: #333333;
  color: #FFFFFF;
  font-family: 'Ubuntu Mono', monospace;
  font-style: oblique;

  &:hover{
    opacity: 0.6;
  }

  .text{
    padding-top: 16px;
    font-size: 13px;
  }

  .icon{
    font-size: 28px;
  }
}