.item-select{
  padding: 4vh 11vw;
  font-family: 'Ubuntu Mono', monospace;
  font-style: oblique;

  &__category{

    &__title{
      font-size: 22px;
      margin-bottom: 8px;
      margin-left: 8px;
    }

    &__image{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 58px;

      img{
        width: 12vw;
        height: 12vw;
        object-fit: cover;
        border-radius: 6px;
        margin: 3px 3px;
        border: solid 2px #eeeeee;
        box-shadow: 2px 2px 4px #eeeeee;

        &:hover{
          opacity: 0.8;
        }
      }
    }

    &__not-image{
      margin-bottom: 58px;
    }
  }
}

.coordinate-form{
  padding: 0 18vw 12vh;

  &__area{
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    border: solid 1px rgb(210, 210, 210);
    margin-bottom: 14px;
  }

  &__button{
    text-align: center;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 6px;
    font-size: 13px;
    width: 40%;
    margin: 0 19.3vw 0;
    background: #333333;
    color: #FFFFFF;

    &:hover{
      opacity: 0.6;
    }
  }
}

.coordinates-index{
  padding: 5vh 6vw 10vh;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Ubuntu Mono', monospace;
  font-style: oblique;

  &__box2{
    border: solid 1px rgb(210, 210, 210);
    height: 340px;
    width: 400px;
    margin: 10px;
    background: #333333;
    box-shadow: 2px 2px 4px #eeeeee;
    display: flex;
    flex-wrap: wrap;

    &:hover{
      opacity: 0.7;
    }

    .coordinate-link{
      height: 300px;
      width: 200px;

      img{
        height: 300px;
        width: 200px;
        object-fit: cover;
      }
    }

    &__text{
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      width: 380px;
      color: #FFFFFF;
      display: flex;

      &__icon{
        margin-right: 8px;
      }

      &__name{
        margin-left: auto;
      }

      &__image{
        margin-left: 8px;
        img{
          height: 36px;
          width: 36px;
          border-radius: 40px;
          border: solid 1px gray;
        }
      }
    }
  }

  &__box3{
    border: solid 1px rgb(210, 210, 210);
    height: 340px;
    width: 400px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    background: #333333;
    box-shadow: 2px 2px 4px #eeeeee;

    &:hover{
      opacity: 0.7;
    }

    .coordinate-link-1{
      height: 150px;
      width: 400px;

      .item-image-1{
        height: 150px;
        width: 400px;
        object-fit: cover;
      }
    }

    .coordinate-link-2{
      height: 150px;
      width: 200px;

      .item-image-2{
        height: 150px;
        width: 200px;
        object-fit: cover;
      }
    }

    .coordinate-link-3{
      height: 150px;
      width: 200px;
      .item-image-3{
        height: 150px;
        width: 200px;
        object-fit: cover;
      }
    }

    &__text{
      height: 40px;
      width: 380px;
      line-height: 40px;
      padding: 0 10px;
      color: #FFFFFF;
      display: flex;

      &__icon{
        margin-right: 8px;
      }

      &__name{
        margin-left: auto;
      }

      &__image{
        margin-left: 8px;
        img{
          height: 36px;
          width: 36px;
          border-radius: 40px;
          border: solid 1px gray;
        }
      }
    }
  }

  &__box4{
    border: solid 1px rgb(210, 210, 210);
    height: 340px;
    width: 400px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    background: #333333;
    box-shadow: 2px 2px 4px #eeeeee;

    &:hover{
      opacity: 0.7;
    }

    .coordinate-link{
      height: 150px;
      width: 200px;

      img{
        height: 150px;
        width: 200px;
        object-fit: cover;
      }
    }

    &__text{
      height: 40px;
      width: 380px;
      line-height: 40px;
      padding: 0 10px;
      color: #FFFFFF;
      display: flex;

      &__icon{
        margin-right: 8px;
      }

      &__name{
        margin-left: auto;
      }

      &__image{
        margin-left: 8px;
        img{
          height: 36px;
          width: 36px;
          border-radius: 40px;
          border: solid 1px gray;
        }
      }
    }
  }

  &__box5{
    border: solid 1px rgb(210, 210, 210);
    height: 340px;
    width: 400px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    background: #333333;
    box-shadow: 2px 2px 4px #eeeeee;

    &:hover{
      opacity: 0.7;
    }

    .coordinate-link-1{
      height: 150px;
      width: 266.6px;

      .item-image-1{
        height: 150px;
        width: 266.6px;
        object-fit: cover;
      }
    }

    .coordinate-link-2{
      height: 150px;
      width: 133.3px;

      .item-image-2{
        height: 150px;
        width: 133.3px;
        object-fit: cover;
      }
    }

    .coordinate-link-3{
      height: 150px;
      width: 133.3px;

      .item-image-3{
        height: 150px;
        width: 133.3px;
        object-fit: cover;
      }
    }

    .coordinate-link-4{
      height: 150px;
      width: 133.3px;

      .item-image-4{
        height: 150px;
        width: 133.3px;
        object-fit: cover;
      }
    }

    .coordinate-link-5{
      height: 150px;
      width: 133.3px;

      .item-image-5{
        height: 150px;
        width: 133.3px;
        object-fit: cover;
      }
    }

    &__text{
      height: 40px;
      width: 380px;
      line-height: 40px;
      padding: 0 10px;
      color: #FFFFFF;
      display: flex;

      &__icon{
        margin-right: 8px;
      }

      &__name{
        margin-left: auto;
      }

      &__image{
        margin-left: 8px;
        img{
          height: 36px;
          width: 36px;
          border-radius: 40px;
          border: solid 1px gray;
        }
      }
    }
  }

  &__box6{
    border: solid 1px rgb(210, 210, 210);
    height: 340px;
    width: 400px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    background: #333333;
    box-shadow: 2px 2px 4px #eeeeee;

    &:hover{
      opacity: 0.7;
    }

    .coordinate-link{
      height: 150px;
      width: 133.3px;

      img{
        height: 150px;
        width: 133.3px;
        object-fit: cover;
      }
    }

    &__text{
      height: 40px;
      width: 380px;
      line-height: 40px;
      padding: 0 10px;
      color: #FFFFFF;
      display: flex;

      &__icon{
        margin-right: 8px;
      }

      &__name{
        margin-left: auto;
      }

      &__image{
        margin-left: 8px;
        img{
          height: 36px;
          width: 36px;
          border-radius: 40px;
          border: solid 1px gray;
        }
      }
    }
  }
}

.coordinate-show{
  padding: 5vh 12vw 10vh;
  font-family: 'Ubuntu Mono', monospace;
  font-style: oblique;

  &__image-box{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5vh; 

    &__unit{
      height: 400px;
      width: 340px;
      margin: 10px;

      &__category{
        font-size: 18px;
        margin-bottom: 4px;
        padding-left: 4px;
      }

      .coordinate-item-image-unit{
        height: 370px;
        width: 340px;
        position: relative;
        &:hover{
          .coordinate-item-image-unit__show{
            display: block;
          }
        }

        &__url{
          height: 370px;
          width: 340px;
          object-fit: cover;
          border: solid 1px #eeeeee;
        }

        &__show{
          height: 370px;
          width: 340px;
          position: absolute;
          background: #333333;
          top: 0;
          opacity: 0.5;
          color: #FFFFFF;
          display: none;

          &__text{
            text-align: center;
          }
        }
      }
    }
  }

  &__user-box{
    display: flex;
    height: 50px;
    width: 90%;
    line-height: 50px;
    padding: 0 20px;
    display: flex;

    &__icon{
      font-size: 18px;
      margin-right: 6px;
    }

    &__name{
      font-size: 18px;
      margin-right: 6px;
    }

    &__time{
      font-size: 15px;
      margin-right: 20px;
      color: gray;
    }

    &__avater{
      margin-right: 12px;
      img{
        height: 48px;
        width: 48px;
        border-radius: 50px;
        border: solid 1px rgb(210, 210, 210);
      }
    }

    .coordinate-link{
      text-decoration: none;
      color: #FFFFFF;
      background: #333333;
      margin-left: 8px;
      font-size: 12px;
      padding: 4px;
      height: 30px;
      line-height: 30px;
      &:hover{
        opacity: 0.7;
      }
    }
  }

  &__description{
    padding: 10px 20px;
  }

  &__comment-title{
    margin: 20px 20px 10px;
    padding-left: 8px;
    font-size: 20px;
  }

  &__comment-box{
    margin: 10px 20px;

    &__unit{
      display: flex;
      height: 40px;
      line-height: 40px;

      &__name{
        font-size: 17px;
        margin-right: 6px;
      }
  
      &__time{
        font-size: 14px;
        margin-right: 20px;
        color: gray;
      }
  
      &__avater{
        margin-right: 12px;
        img{
          height: 40px;
          width: 40px;
          border-radius: 40px;
          border: solid 1px rgb(210, 210, 210);
        }
      }

      .delete-link{
        text-decoration: none;
        height: 35px; 
        line-height: 35px;
        font-size: 12px;
        background: #333333;
        color: #FFFFFF;
        padding: 0 8px;
        
        &:hover{
          opacity: 0.7;
        }
      }
    }

    &__text{
      margin-bottom: 20px;
    }
  }

  &__comment-form{
    margin: 10px 20px;
    position: relative;

    &__area{
      width: 50vw;
      height: 70px;
      -webkit-appearance: none;
    }

    &__button{
      text-align: center;
      -webkit-appearance: none;
      border-radius: 0;
      padding: 6px;
      font-size: 13px;
      width: 10vw;
      background: #333333;
      color: #FFFFFF;
      position: absolute;
      right: 10vw;
      bottom: 8px;

      &:hover{
        opacity: 0.6;
      }
    }
  }
}