.devise-header{
  padding:3vh 9vw;
  font-family: 'Ubuntu Mono', monospace;

  &__logo{
    font-size: 26px;
    font-weight: bold;
    text-align: center;

    a{
      text-decoration: none;
      color: #333333;
      &:hover{
        color: gray;
      }
    }
  }
}

.devise-signin-box{
  margin: 3vh 29vw;
  padding: 3vh 9vw;
  border: solid 1px rgb(210, 210, 210);

  &__title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 3vh;
  }

  &__image{
    height: 120px;
    width: 120px;
    margin: 0 auto;
    border: solid 1px rgb(210, 210, 210);
    position: relative;

    img{
      height: 120px;
      width: 120px;
      object-fit: cover;
      position: absolute;
      left: 0;
    }

    &__input{
      height: 120px;
      width: 120px;
      object-fit: cover;
      position: absolute;
      left: 0;
      opacity: 0;
      cursor : pointer;
    }
  }

  &__form{
    margin: 15px 0;

    &__label{
      font-size: 14px;
    }

    &__area{
      width: 100%;
      height: 28px;
    }
  }

  &__button{
    text-align: center;
    margin-top: 28px;

    &__input{
      -webkit-appearance: none;
      border-radius: 0;
      padding: 6px;
      font-size: 13px;
      width: 10vw;
      background: #333333;
      color: #FFFFFF;

      &:hover{
        opacity: 0.7;
      }
    }
  }
}

.devise-login-box{
  margin: 3vh 29vw;
  padding: 3vh 9vw;
  border: solid 1px rgb(210, 210, 210);
  font-size: 12px;

  &__form{
    margin: 15px 0;

    &__label{
      font-size: 14px;
    }

    &__area{
      width: 100%;
      height: 28px;
    }
  }

  &__button{
    text-align: center;
    margin-top: 28px;

    &__input{
      -webkit-appearance: none;
      border-radius: 0;
      padding: 6px;
      font-size: 13px;
      width: 10vw;
      background: #333333;
      color: #FFFFFF;

      &:hover{
        opacity: 0.7;
      }
    }
  }

  &__text{
    line-height: 60px;
    text-decoration: none;
    color: #333333;

    &:hover{
      opacity: 0.7;
    }
  }
}