.header{
  padding:2vh 9vw;
  display: flex;
  justify-content: flex-end;
  font-family: 'Ubuntu Mono', monospace;
  border-bottom: solid 1px;

  &__logo{
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;

    a{
      text-decoration: none;
      color: #333333;
      &:hover{
        opacity: 0.6;
      }
    }
  }

  &__button{
    padding: 6px 1%;
    font-style: oblique;

    a{
      text-decoration: none;
      color: #333333;
      &:hover{
        opacity: 0.6;
      }
    }
  }

  a{
    height: 33px;
    width: 33px;
    
    img{
      height: 33px;
      width: 33px;
      border: solid 1px rgb(210, 210, 210);
      border-radius: 40px;
      object-fit: cover;

      &:hover{
        opacity: 0.6;
      }
    }
  }
}