.new-title{
  margin: 4vh 10vw;
  text-align: center;
  font-size: 20px;
  font-family: 'Ubuntu Mono', monospace;
  font-style: oblique;
}

.form{
  margin: 4vh 32vw;
  padding: 4vh 9vw;
  border: solid 1px rgb(210, 210, 210);

  &__image{
    height: 180px;
    width: 180px;
    margin: 15px auto 30px;
    border: solid 1px rgb(210, 210, 210);
    position: relative;
    text-align: center;
    font-size: 13px;
    line-height: 180px;

    img{
      height: 180px;
      width: 180px;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
    }

    &__input{
      height: 180px;
      width: 180px;
      object-fit: cover;
      position: absolute;
      left: 0;
      opacity: 0;
      cursor : pointer;
    }
  }

  &__box{
    margin: 2vh 0;

    &__label{
      font-size: 13px;
    }

    &__field{
      width: 100%;
      height: 29px;
      background: #FFFFFF;
      border: solid 1px rgb(210, 210, 210);
    }

    &__button{
      text-align: center;
      margin: 20px 4vw 0;
      -webkit-appearance: none;
      border-radius: 0;
      padding: 6px;
      font-size: 13px;
      width: 10vw;
    }
  }
}