.items-new{
  position: fixed;
  text-align: center;
  height: 90px;
  width: 90px;
  bottom: 20px;
  right: 20px;
  border-radius: 100px;
  background: #333333;
  color: #FFFFFF;
  font-family: 'Ubuntu Mono', monospace;
  font-style: oblique;
  z-index: 500;

  &:hover{
    opacity: 0.7;
    transition-duration: 0.3s;
  }

  .text{
    padding-top: 20px;
    font-size: 15px;
  }

  .icon{
    font-size: 28px;
  }
}