.user-show-box{
  padding: 4vh 19vw;
  display: flex;
  font-family: 'Ubuntu Mono', monospace;
  font-style: oblique;
  border-bottom: solid 1px rgb(210, 210, 210);
  position: relative;

  &__image{
    img{
      height: 14vw;
      width: 14vw;
      border: solid 1px #333333;
      border-radius: 300px;
      object-fit: cover;
    }
  }

  &__name{
    margin-left: 4vw;
    margin-top: 6vh;

    &__top-box{
      font-size: 20px;
    }

    &__bottom-box{
      display: flex;
      margin-top: 3vh;

      .text{
        margin-right: 2vw;
      }

      .follower-text{
        margin-right: 2vw;
      }

      .following-text{
        margin-right: 2vw;
      }
    }
  }

  &__logout{
    margin-left: auto;
    margin-top: 5vh;

    a{
      text-decoration: none;
      background: #333333;
      color: #FFFFFF;
      border: solid 1px;
      padding: 8px;

      &:hover{
        opacity: 0.6;
      }
    }
  }

  &__follow{
    background: #333333;
    color: #FFFFFF;
    border: solid 1px;
    height: 30px;
    width: 90px;
    text-align: center;
    padding: 4px;
    line-height: 30px;
    margin-top: 9vh;
    margin-left: auto;
    cursor : pointer;
    &:hover{
      opacity: 0.7;
    }
  }

  &__unfollow{
    background: #333333;
    color: #FFFFFF;
    border: solid 1px;
    height: 30px;
    width: 90px;
    text-align: center;
    padding: 4px;
    line-height: 30px;
    margin-top: 9vh;
    margin-left: auto;
    cursor : pointer;
    &:hover{
      opacity: 0.7;
    }
  }

  &__followings{
    display: none;
    position: absolute;
    width: 170px;
    top: 150px;
    right: 540px;
    z-index: 1000;
    a{
      text-decoration: none;
      color: #333333;
    }
    &__user{
      display: flex;
      background: rgb(250, 250, 250);
      &:hover{
        background: rgb(240, 240, 240);
      }

      &__image{
        margin-top: 4px;
        margin-left: 4px;
        img{
          height: 30px;
          width: 30px;
          border: solid 1px rgb(210, 210, 210);
          border-radius: 30px;
          object-fit: cover;
        }
      }
      
      &__name{
        margin-left: 8px;
        margin-right: 2px;
        margin-top: 8px;
      }
    }
  }

  &__followers{
    display: none;
    position: absolute;
    width: 170px;
    top: 150px;
    right: 400px;
    z-index: 1000;
    a{
      text-decoration: none;
      color: #333333;
    }
    &__user{
      display: flex;
      background: rgb(250, 250, 250);
      &:hover{
        background: rgb(240, 240, 240);
      }
      
      &__image{
        margin-top: 4px;
        margin-left: 4px;
        img{
          height: 30px;
          width: 30px;
          border: solid 1px rgb(210, 210, 210);
          border-radius: 30px;
          object-fit: cover;
        }
      }
      
      &__name{
        margin-left: 8px;
        margin-right: 2px;
        margin-top: 8px;
      }
    }
  }
}

.item-box{
  padding: 4vh 11vw;
  font-family: 'Ubuntu Mono', monospace;
  font-style: oblique;

  &__category{

    &__title{
      font-size: 22px;
      margin-bottom: 8px;
      margin-left: 8px;
    }

    &__image{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 58px;

      .item-image-unit{
        width: 15vw;
        height: 15vw;
        border-radius: 6px;
        margin: 3px 3px;
        border: solid 1px #eeeeee;
        box-shadow: 2px 2px 4px #eeeeee;
        position: relative;

        &:hover{
          .item-image-unit__show{
            display: block;
          }
        }

        &__url{
          width: 15vw;
          height: 15vw;
          object-fit: cover;
          border-radius: 6px;
        }

        &__show{
          width: 15vw;
          height: 15vw;
          border-radius: 6px;
          background: #333333;
          position: absolute;
          top: 0;
          opacity: 0.5;
          color: #FFFFFF;
          display: none;

          &__button{
            text-decoration: none;
            color: #FFFFFF;
            text-align: right;
            float: right;
            margin-right: 4px; 
          }

          &__text{
            text-align: center;
          }
        }
      }
    }

    &__not-image{
      margin-bottom: 58px;
    }
  }
}